<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>Jersey Web Application</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>com.java.jdbc</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Web Application</servlet-name>
    <url-pattern>/webapi/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowEmployServlet</display-name>
    <servlet-name>ShowEmployServlet</servlet-name>
    <servlet-class>com.java.jdbc.ShowEmployServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowEmployServlet</servlet-name>
    <url-pattern>/ShowEmployServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmploySearchServlet</display-name>
    <servlet-name>EmploySearchServlet</servlet-name>
    <servlet-class>com.java.jdbc.EmploySearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmploySearchServlet</servlet-name>
    <url-pattern>/EmploySearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEmployServlet</display-name>
    <servlet-name>AddEmployServlet</servlet-name>
    <servlet-class>com.java.jdbc.AddEmployServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployServlet</servlet-name>
    <url-pattern>/AddEmployServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEmployServlet</display-name>
    <servlet-name>DeleteEmployServlet</servlet-name>
    <servlet-class>com.java.jdbc.DeleteEmployServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEmployServlet</servlet-name>
    <url-pattern>/DeleteEmployServlet</url-pattern>
  </servlet-mapping>
</web-app>